{
	"singleQuote": true,
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": false,
	"semi": true,
	"trailingComma": "es5",
	"bracketSpacing": true,
	"overrides": [
		{
			"files": ["**/*.css", "**/*.html"],
			"options": {
				"singleQuote": false
			}
		}
	]
}
